# This is a template for guidance
# CREATE YOUR OWN .env and use the following environment variables with values as fit
#NEXT_PUBLIC_CHAIN_ID=1
#NEXT_PUBLIC_EXPLORER_API_URL=YOUR_SQUID_API_HERE
#NEXT_PUBLIC_ALCHEMY_API_KEY=YOUR_ALCHEMY_API_KEY
#NEXT_PUBLIC_WHATSABI_PROVIDER_CHAIN=CHAIN_ID_FOR_WHATSABI
#INTERNAL_EXPLORER_API_URL=OPTIONAL_INTERNAL_EXPLORER_API_URLx