name: CI
on: [push]
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true
env:
    NEXT_PUBLIC_EXPLORER_API_URL: http://localhost:4350/graphql
jobs:
    ci:
        runs-on: ubuntu-latest
        steps:
            - name: Check out code
              uses: actions/checkout@v4

            - name: Setup Node.js environment
              uses: actions/setup-node@v3
              with:
                  node-version: latest
                  cache: "yarn"

            - name: Install dependencies
              run: yarn install --frozen-lockfile

            - name: Code format check
              run: yarn format:check

            - name: Linting
              run: yarn lint

            - name: Run unit tests
              run: yarn test:ci

            - name: Merge coveralls reports
              run: yarn coveralls

            - name: Publish coveralls report
              uses: coverallsapp/github-action@master
              with:
                  path-to-lcov: "coverage/lcov.info"
                  github-token: ${{ secrets.GITHUB_TOKEN }}

            - name: Run e2e tests
              run: yarn test:e2e
